:root {
    --primary-color: #254A5A;
    --primary-dark: #0F303F;
    --tomato-color: #E64926;
    --light-color1: #EAE9E8;
    --light-color2: #CEC6C4;
    --silver-color: #B7C1C5;
    --white-color: #ffffff;
    --black-color: #000000;
    --line-color: #CECECE;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    border: none;
    // outline: 1px solid red;
    color: var(--primary-dark);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}

.heart {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: var(--white-color);
}

.btn {
    min-width: 213px;
    padding: 15px 0;
    text-align: center;
    background: var(--primary-dark);
    color: var(--light-color1);
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    @include font(15, 22, 500);
}
// Hamburger Menu
.hamburger{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:  rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white-color);
    border-radius: 6px;
    z-index: 1010;
}

// .showModal{
//     transform: translate(-50%, -50%) scale(1);
// }
.close{
    position: absolute;
    background: transparent;
    svg{
        pointer-events: none;
    }
}
.add-to-cart-btn {
    background: transparent;
    border: 1px solid var(--primary-dark);
    color: var(--primary-dark);
}

.nav-text-font {
    font-family: 'Avenir', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @include font(16, 22, 400);
    display: block;
}

.description-text {
    font-family: 'Avenir', sans-serif;
    color: var(--white-color);
    @include font(14, 19, 400);
}

.cormorant-500 {
    font-family: 'Cormorant', serif;
    @include font(40, 48, 500);
    text-transform: uppercase;
    color: var(--light-color1);

    span {
        display: block;
        @include font(20, 24, 500);
        color: var(--light-color1);
    }
}

.avenir-800 {
    font-family: 'Avenir', sans-serif;
    @include font(25, 34, 800);
    text-transform: uppercase;
}

.products__title-500 {
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    color: var(--primary-dark);
    @include font(25, 25, 500);
}

.select-font {
    font-family: 'Avenir', sans-serif;
    color: var(--primary-dark);
    @include font(14, 24, 400);
}

.products__menu__item {
    font-family: 'Avenir', sans-serif;
    @include font(14, 19, 800);
}

.about-product__link-400 {
    font-family: 'Avenir', sans-serif;
    @include font(12, 20, 400);
}
.about-product__desc-500{
    font-family: 'Avenir', sans-serif;
    @include font(14, 19, 500);
}
// font-family: 'Tajawal', sans-serif; 1
// @include font(14,17,500);
// letter-spacing: 0.1em;
// text-transform: uppercase;
// color: var(--light-color1);

// font-family: 'Cormorant Garamond';
// text-transform: uppercase;
// color: var(--white-color);
// @include font(90,92,500);
// margin-bottom: 15px;

//  font-family: 'Cormorant';
// font-weight: 500;
// font-size: 20px;
// line-height: 24px;
// text-transform: uppercase;
// color: var(--light-color1);    