// Payment Modal
.modal__payment{
    padding: 46px 40px 49px;
    width: 520px;
    position: relative;
    .close{
        top: 46px;
        right: 30px;
    }
    .uppercase{
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    h3{
        margin-bottom: 11px;
    }
    P{
        color: var(--primary-dark);
        opacity: 0.7;
    }
    p:not(:last-child){
        margin-bottom: 20px;
    }
}

.modal__return-name{
    margin-bottom: 20px !important;
}